$TTL 604800
@	IN	SOA dns.{{ domain }}. admin.{{ domain }}. (
	11	; Serial
	604800	; Refresh
	86400	; Retry
	2419200	; Expire
	604800 ); Negative Cache TTL
;
; Name servers
	IN	NS	dns.{{ domain }}.

; A records for name servers
dns IN  A   {{ dnsserver_ip }}

; Other A records
@   IN  A   {{ dnsserver_ip }}
{% for server in servers %}
{{ server.name }}   IN  A   {{ server.ip }}
{% endfor %}